/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0px;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
    margin: 0px;
}

header {
    background: #030303;
    padding: 10px 70px 10px 30px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
}

nav ul li {
    font-family: Helvetica;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px;
    margin-left: 1rem;
}

footer {
    background: #030303;
    text-align: center;
    padding: 30px;
    font-size: 15px;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}

section {
    max-width: 600px;
    flex-shrink: 0px;
    margin: 0px;
    align-items: center;
}

.text {
    color: #fff;
    font-size: 17px;
    padding: 0px 30px 0px 30px;
    line-height: 1.25em;
    margin: 0px;
}

.photo {
    padding: 0px 0px 0px 30px;
    margin: 0px;
    color: #fff;
}

#cougar {
    background: #2C6ACE;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#lion {
    background: #357962;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#tiger {
    background: #4A5B09;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #D14600;
    text-decoration: none;
}
a:hover {
    color: #FF00FF;
}
